@import url('https://fonts.googleapis.com/css?family=Crete+Round|Oleo+Script+Swash+Caps');
*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  background: #E0E0E0;
}
.encabezado{
  display: flex;
  justify-content: space-around;
  /*background:rgba(33, 33, 33, 0.89);*/
  height: 90px;
  width: 100%;
}
.tituloLogo{
  display: flex;
  /*background: blue*/;
}
.logo{
/*  background: red*/;
  height: 90px;
  width: 120px;
}
.logo img{
  margin-left: 10px;
  max-height: 100%;
  max-width: 97%;
  min-height: 100%;
  min-width: 97%;
}
.titulo{
  display: flex;
  align-items: center;
}
.titulo p{;
  color: #8c0b06;
  font-size: 1.8em;
  font-family: 'Oleo Script Swash Caps', cursive;
  margin-left: 10px;
}

nav {
  height: 90px;
}
  nav ul{
    margin-top: 40.5px;
  }
    nav ul li {
      float: left;
      font-family: font-family: 'Crete Round', serif;
      font-size: 1.3em;
      width: 190px;
      text-align: center;
      cursor:pointer;
      color: #757575;
      border-right: 1px solid #adadad;
      border-left: 1px solid #adadad;
    }
    nav ul li:hover{
      color: #8c0b05;
    }
/*---Cabecera fija--*/
.fijo-fixed {
	position:fixed;
  display: flex;
  justify-content: space-around;
  /*background:rgba(33, 33, 33, 0.89);*/
  height: 90px;
  width: 100%;
  background: #E0E0E0;
}
