@import url('https://fonts.googleapis.com/css?family=Crete+Round|Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
/*Eliminar los margenes y paddings que agrega el navegador por defecto*/
*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/*margenes inferiores a los parrafos*/
p {
  margin-bottom: 20px;
}
body {
  background: #f2f2f2;
  text-align: center;
  justify-content: space-around;
}

header {
  width: 100%;
  background: #d9d9d9;
  overflow: hidden; /*elimina errores de float*/
}

.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /*contenedores en el centro*/
  overflow: hidden; /*elimina errores de float*/
}


header .logo {
  font-size: 29px;
  text-align: left;
  float: left;
  color: #8c0b06;
  /*font-family: 'Francois One', sans-serif;*/
  font-family: 'Oleo Script Swash Caps', cursive;
  overflow: hidden;
  line-height: 100px;
}
header .imagen{
  position: absolute;
  float: left;
  left: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 0px;
  margin-right: 0px;
}
/*.logo img{
  margin-left: 0px;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}*/
header nav {
  float: right;
  line-height: 100px;
}
header nav ul {
    margin-top: 10px;
  }
header nav ul li {
      display: inline-block;
      font-family: 'Francois One', sans-serif;
      font-size: 17px;
      width: 160px;
      text-align: center;
      cursor: pointer;
      color: #757575;
      /*border-right: 1px solid #adadad;
      border-left: 1px solid #adadad;*/
    }
    nav ul li:hover{
      color: #8c0b05;
    }

.fijo-fixed {
	position:fixed;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #d9d9d9;
  overflow: hidden; /*elimina errores de float*/
}

 @media screen and (max-width: 980px) {
   header .logo, header nav{
     width: 100%;
     text-align: center;
     line-height: 30px;
   }
   header .imagen {
     position: static;
     float: none;
   }
 }

 @media screen and (max-width: 1254px) {
   header .imagen {
     align-items: center;
     width: 10%;
     position: static;
     ma
   }
 }




 /*@media screen and (max-width: 410px) {
   header .imagen{
     position: relative;
     left:30%;
     width: 20%;
   }
   header .logo{
    width: 100%;
    font-size: 20px;
   }
}*/

@media screen and (max-width:684px) {
  header .imagen{
    padding-left: 0px;
    padding-top: 10px;

  }

}
   .contenido{
     /*padding-top: 10px; para que quede debajo de cabecera*/
     margin-left: 10px;
     margin-right: 10px;
     background: #f2f2f2;
     overflow: hidden; /*elimina errores de float*/
   }
 }
